<%= bs_details_modal do %>
  <%= form_with(model: grade) do |form| %>
    <%= bs_modal_header title: "Edit Grade" %>
    <div class="modal-body" id="details-modal-body">
      <%= error_messages_box grade %>

      <div class="row">
        <div class="col">
          <%= bs_text_field form, :name %>
        </div>
        <div class="col">
          <%= bs_text_field form, :super_grade %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_text_area form, :notes %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <% if grade.persisted? %>
        <%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'DESTROY GRADE: Are you sure?' }, class: "btn btn-danger mr-5" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
