<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= link_to 'Edit', edit_grade_path(grade), remote: true, data: {toggle: "modal", target: "#detailsModal"}, class: "btn btn-primary" %>
<% end %>

<h3><%= grade.name %></h3>

<%= bs_attribute "SuperGrade", grade.super_grade %>

<div>
  <strong>Notes:</strong>(<%= markdown_syntax_link %>)
  <%= markdown_render grade.notes %>
</div>

