<%= js_insert_content_into_id id: 'detailsModal',
                         content: (render partial: 'form', locals: {grade: @grade}),
                         textareas_to_adjust: ['grade_notes'] %>
