<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= render :partial => "date/button" %>
  <%= link_to 'New Grade', new_grade_path, remote:true, data: {toggle: "modal", target: "#detailsModal"}, class: "btn btn-primary" %>
<% end %>

<h1 class="clearfix">Grades</h1>

<table class="table table-sm">
  <thead class="thead-light">
    <th scope="col">Name</th>
    <th scope="col">Count</th>
    <th scope="col">SuperGrade</th>
    <th scope="col"></th>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td><%= link_to grade.name, grade %></td>
        <td><%= grade.gradings.at(display_for_date).count %></td>
        <td><%= grade.super_grade %></td>
        <td><%= link_to 'Up', up_grade_path(grade), :method => :put %> <%= link_to 'Down', down_grade_path(grade), :method => :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

