<div id="object-content">
  <%= render "profile", grade: @grade %>
</div>

<h3>Current Gradings</h3>
<table class="table table-sm">
  <thead class="thead-light">
    <%= render partial: 'gradings/grading_header' %>
  </thead>
  <tbody>
    <%= render partial: 'gradings/grading', collection: @grade.gradings.current.joins(:person).order(:birth_date) %>
  </tbody>
</table>
