<%= bs_details_modal do %>
  <%= form_with(model: grading) do |form| %>
    <%= bs_modal_header title: "Edit Grading" + " for #{link_to grading.person.name_jp, grading.person}" %>
    <div class="modal-body" id="details-modal-body">
      <% if grading.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(grading.errors.count, "error") %> prohibited this grading from being saved:</h2>

          <ul>
            <% grading.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :person_id %>

      <div>
        <% bs_scope form_label_width: 6 do %>
          <div class="text-right"><small><%= link_to("Grade: " + grading.grade.name, grading.grade) if grading.grade %></small></div>
          <%= bs_select form, :grade_id, "職級", Grade.all.order(:position).collect{|p| [p.name, p.id]}, include_blank: true %>
          <%= bs_text_field form, :started_at, "開始日 (この職級になった本当の日)" %>
          <%= bs_text_field form, :count_start_date, "ランク計算のための開始日" %>
          <%= bs_text_area form, :notes %>
        <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <% if grading.persisted? %>
        <%= link_to 'Destroy', grading, method: :delete, data: { confirm: 'DESTROY GRADING: Are you sure?' }, remote: true, class: "btn btn-danger" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
