<tr>
  <td><%= link_to grading.started_at, edit_grading_path(grading), {remote: true, data: {toggle:"modal", target:"#detailsModal"}} %>(<%= distance_of_time_in_words_to_now(grading.started_at) %><%= grading.started_at - Time.zone.today > 0 ? "後" : "前" %>)</td>
  <td><%= link_to grading.person.name_jp, grading.person %></td>
  <td><%= link_to grading.grade.name, grading.grade %></td>
  <td><%= grading.person.age %></td>
  <td><%= grading.person.age(grading.started_at) %></td>
  <td><%= grading.years_in_grade.round(1) %></td>
</tr>
