<tr>
  <th scope="col">Term</th>
  <th scope="col">Person</th>
  <th scope="col">Grade <%= link_to "asc", gradings_path(grade: :asc) %>|<%= link_to "desc", gradings_path(grade: :desc) %></th>
  <th scope="col">Current Age</th>
  <th scope="col">Age when graded</th>
  <th scope="col">Years in grade <span style="font-size:smaller">(繰り上げでPeopleSoftと一致する)</span></th>
</tr>
