<p id="notice"><%= notice %></p>

<h1>Current Gradings</h1>
as of <%= Time.zone.today %>

<table class="table table-sm">
  <thead class="thead-light">
    <%= render partial: 'gradings/grading_header' %>
  </thead>

  <tbody>
    <%= render @gradings %>
  </tbody>
</table>

<br>

<%= link_to 'New Grading', new_grading_path %>
