<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= link_to @grading.person.name_jp, @grading.person %>
</p>

<p>
  <strong>Grade:</strong>
  <%= link_to @grading.grade.name, @grading.grade %>
</p>

<p>
  <strong>Notes:</strong>(<%= markdown_syntax_link %>)
  <%= markdown_render @grading.notes %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @grading.started_at %>
</p>

<%= link_to 'Edit', edit_grading_path(@grading) %> |
<%= link_to 'Back', gradings_path %>
