<%= form_with(model: training_category, local: true) do |form| %>
  <% if training_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_category.errors.count, "error") %> prohibited this training_category from being saved:</h2>

      <ul>
        <% training_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
