<p id="notice"><%= notice %></p>

<h1>Training Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_categories.each do |training_category| %>
      <tr>
        <td><%= training_category.name %></td>
        <td><%= training_category.description %></td>
        <td><%= link_to 'Show', training_category %></td>
        <td><%= link_to 'Edit', edit_training_category_path(training_category) %></td>
        <td><%= link_to 'Destroy', training_category, method: :delete, data: { confirm: 'DESTROY TRAINING CATEGORY: Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Category', new_training_category_path %>
