<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training_category.description %>
</p>

<%= link_to 'Edit', edit_training_category_path(@training_category) %> |
<%= link_to 'Back', training_categories_path %>
