<h3>Assignments<div class="float-right"><%= link_to "New Assignment", new_job_status_path(job_status: {person_id: person}), remote: true, data: {toggle:"modal", target:"#detailsModal"}, class: "btn btn-primary btn-sm" %></div></h3>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Person</th>
        <th scope="col">Assigned to Group</th>
        <th scope="col">Title</th>
        <th scope="col">Reports to</th>
      </tr>
    </thead>

    <tbody>
  	<%= render partial: "job_statuses/job_status", collection: person.job_statuses.order(started_at: :desc) %>
    </tbody>
  </table>
</div>

<h3>Gradings<div class="float-right"><%= link_to "New Grading", new_grading_path(grading: {person_id: person}), remote: true, data: {toggle:"modal", target:"#detailsModal"}, class: "btn btn-primary btn-sm" %></h3>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <%= render partial: 'gradings/grading_header' %>
    </thead>

    <tbody>
      <%= render partial: "gradings/grading", collection: person.gradings.order(started_at: :desc) %>
    </tbody>
  </table>
</div>

<div class="controls">

</div>

<h3>Trainings<div class="float-right"><%= link_to "New Training", new_enrollment_path(enrollment: {person_id: @person}), class: "btn btn-primary btn-sm" %></div></h3>
<%= render partial: "enrollments/enrollments_table", locals: {enrollments: person.enrollments} %>
