<%= bs_details_modal size: "none" do %>
  <%= form_with(model: person) do |form| %>
    <%= bs_modal_header title: "Edit Person" + (" for #{link_to person.name_jp, person}").to_s %>
    <div class="modal-body" id="details-modal-body">
      <%= error_messages_box person %>
      <%= hidden_field_tag :job_status_id, @job_status.id unless person.persisted? %>
      <!-- Photo and name row -->
      <div class="row align-items-center form-group">
        <div class="image-cell col-sm-4">
          <%= image_tag_for_person(person, style: "max-width: 200px;max-height:200px") %>
          <div class="field">
            <%= form.file_field :avatar %>
          </div>
        </div>
        <div class="col-sm-8">
          <%= bs_text_field form, :name_jp, "名前 (日本語)" %>
          <%= bs_text_field form, :name_en, "名前 (英語: [姓], [名])" %>
        </div>
      </div>
      <!-- Other Person information -->
      <div>
        <div class="row">
          <div class="col">
            <%= bs_text_field form, :employee_number %>
          </div>
          <div class="col">
            <%= bs_text_field form, :email %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= bs_text_field form, :birth_date %>
          </div>
          <div class="col">
            <%= bs_text_field form, :joined_date, "Joined (AGC)" %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= bs_select form, :academic_id, "Academic", Person::ACADEMIC.map.with_index{|a,id| [a,id]}, {include_blank: true}, {class: "form-control"} %>
          </div>
          <div class="col">
            <%= bs_text_area form, :education %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= bs_text_field form, :hometown %>
          </div>
          <div class="col">
            <%= bs_text_area form, :address %>
          </div>
        </div>
        <%= bs_text_area form, :notes %>
        <div class="form-group">
          <%= form.label :new_attachments %>
          Add attachments
          <%= form.file_field :new_attachments, {multiple: true, class: "form-control"} %>
          <% unless person.attachments.attached? %>
            No attachments yet.
          <% else %>
            <ul>
              <% person.attachments.attachments.each do |a| %>
                <li><%= link_to a.filename.to_s, url_for(a) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <% if person.persisted? %>
        <%= link_to 'destroy person', person, method: :delete, data: { confirm: 'DESTROY PERSON: Are you sure?' }, remote: true, class: "btn btn-danger mr-5" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
