<div class="<%= css_class_for person %>" data-controller="person">
  <div class="row align-items-center">
    <div class="image-cell col-sm-auto p-3">
      <%= image_tag_for_person(person, style: "max-width: 200px;max-height:200px") %>
    </div>
    <div class="col <%= person.hired ? '' : 'open'%> center">
      <div class="float-right"><%= link_to 'Edit', edit_person_path(person), remote: true, id: "edit_person_link", data: {toggle:"modal", target:"#detailsModal"}, class: "btn btn-primary" %></div>
      <h3>
        <%= person.name_jp %> <%= person.name_en %>
      </h3>
      <h4>
        <%= link_to person.group.name_jp, person.group if person.group %>
        <%= person.job_title_jp if person.job_title_jp %>
        <%= person.group_leader ? "Group Leader" : "" %>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bs_attribute "Employee #" do %>
        <%= person.haken_at?(Time.zone.today) ? "派遣" : "" %>
        <%= person.employee_number %>
      <% end %>
    </div>
    <div class="col">
      <%= bs_attribute "e-mail", person.email %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bs_attribute "Birth date", person.birth_date %>
    </div>
    <div class="col">
      <%= bs_attribute "Age", person.age %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bs_attribute "Joined AGC" do %>
        <% if person.joined_date %>
          <%= person.joined_date %> @age <%= person.joined_at_age %>
        <% end %>
      <% end %>
    </div>
    <div class="col">
      <%= bs_attribute "Time in AGC", time_since_joined_in_words(person) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bs_attribute "Degree", person.academic %>
    </div>
    <div class="col">
      <%= bs_attribute "Education", markdown_render(person.education) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= bs_attribute "Address", markdown_render(person.address) %>
    </div>
    <div class="col">
      <%= bs_attribute "Hometown", person.hometown %>
    </div>
  </div>
  <div id="person_notes">
    <strong>Notes:</strong>(<%= markdown_syntax_link %>)
    <div>
      <% if person.notes.blank? %>
        No notes yet.
      <% else %>
        <div class="text-left">
          <a href="#" data-action="click->person#toggleNotes" data-target="person.toggleNotesButton">Notes are Hidden: Show notes?</a>
        </div>
        <div id="notes" data-target="person.notesText" style="display:none">
          <%= markdown_render person.notes %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="person_attachments">
    <strong>Attachments:</strong>(<%= markdown_syntax_link %>)
    <div>
      <% unless person.attachments.attached? %>
        No attachments yet.
      <% else %>
        <ul>
          <% person.attachments.attachments.each do |a| %>
            <li><%= link_to a.filename.to_s, url_for(a) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
