<tr class="<%= person.hired ? '' : 'open' %>">
  <td style="height:70px;width:57px;padding:2px">
    <%= image_tag_for_person(person, style: "height:70px") %>
  </td>
  </td>
  <td>
    <%= link_to person.name_jp, person %> <%= person.name_en %><br>
    Email: <%= person.email %><br>
    Grade: <%= person.current_grading ? link_to(person.current_grading.grade.name, grade_path(person.current_grading.grade)) : "No Grading" %><br>
    Education: <%= "#{person.academic} from #{person.education}" %><br>
    Age: <%= person.age %>
  </td>
  <td>
    <p>
      <%= !person.group.blank? ? link_to(person.group.name_jp, group_path(person.group)) : "No Role" %>
      <%= person.job_title_jp %>
    </p>
    <p>
      Joined AGC: <%= person.haken_at?(Time.zone.today) ? "派遣 " : "" %><%= distance_of_time_in_words_to_now(person.joined_date) if person.joined_date %> ago</p>
    </p>
  </td>
</tr>
