<%= js_insert_content_into_id id: 'detailsModal',
                         content: (render partial: 'form', locals: {person: @person}),
                         textareas_to_adjust: ['person_notes'] %>
