<h1>Editing Person</h1>

<div id="person">
	<%= render 'form', person: @person %>
</div>

<div class="controls">
	<%= link_to 'Show', @person %> |
	<%= link_to 'Destroy', @person, method: :delete, data: { confirm: 'DESTROY PERSON: Are you sure?' } %>
</div>

<%= render "associations", person: @person %>
