<p id="notice"><%= notice %></p>

<% bs_help_modal "People Help" do %>
  <dl>
    <dt>新しいPersonを追加</dt>
    <dd>
      Personを追加するのはここではできない。Assignmentを先に作って、そこから新規にPersonを作る。
      PersonはAssignmentなしに作ることはできないため。
    </dd>
  </dl>
<% end %>


<h1>People</h1>
<div class="row mb-2">
  <div class="col">
    <fieldset class="border border-primary p-1">
    	<legend class="text-center">Filter (<%= @people.size %> people)</legend>
    	<%= link_to '解除', people_path, class: "btn btn-outline-primary" %>
    	<%= filter_link_to '雇用中', :hired %>
    	<%= filter_link_to '派遣', :haken %>
    	<%= filter_link_to '修士卒', :master %>
    </fieldset>
  </div>
  <div class="col">
    <fieldset class="border border-primary p-1">
    	<legend class="text-center">Order</legend>
    	<%= order_link_to '年齢昇順', :age_asc %>
    	<%= order_link_to '年齢降順', :age_desc %>
    </fieldset>
  </div>
</div>
<% if !params[:filter] && !Person.orphaned.empty? %>
	<h2>Orphaned without assignments - Need to fix by giving them assignments or deleting</h2>
	<table class="table table-sm">
    <thead class="thead-light">
      <th scope="col" class="w-auto">Photo</th>
      <th scope="col" class="w-50">Person</th>
      <th scope="col" class="w-auto">Assignments</th>
    </thead>
	  <tbody>
	    <% Person.orphaned.each do |person| %>
	      <%= render partial: "person_as_row", locals:{person: person} %>
	    <% end %>
	  </tbody>
	</table>
	<br>
<% end %>
<div class="text-right">
  <%= link_to "Export as CSV", people_path(format: "csv", filter: params[:filter]) %>
</div>
<table class="table table-sm table-striped">
  <thead class="thead-light">
    <th scope="col" class="w-auto">Photo</th>
    <th scope="col" class="w-50">Person</th>
    <th scope="col" class="w-auto">Assignments</th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <%= render partial: "person_as_row", locals:{person: person} %>
    <% end %>
  </tbody>
</table>

