<h1>New Person</h1>
<h3>
	For OPEN Position in <%= @job_status.group.name_jp %>, title: <%= @job_status.job_title_jp %>
</h3>
<div id="person">
	<%= render 'form', person: @person, job_status: @job_status %>
</div>
