<span class="small">
  Ha:<%= hcg['Haken'] %>/
  Co:<%= hcg['Contract'] %>/
  S:<%= hcg['S'] %>/
  C:<%= hcg['C'] %>/
  E:<%= hcg['E'] %>/
  J:<%= hcg['J'] %>
  Total: <%= hcg['Haken'] + hcg['S'] + hcg['C'] + hcg['E'] + hcg['J']%>,
  <% if hcg['not-Graded'] > 0 %>
    <span style="color: orange">not-Graded: <%= hcg['not-Graded'] %></span>,
  <% end %>
  Open: <%= hcg['Open'] %>
</span>
