<%= bs_details_modal size: "none" do %>
  <%= form_with(model: group, local: true) do |form| %>
    <%= bs_modal_header title: "Edit Group" %>
    <div class="modal-body" id="details-modal-body">
      <%= error_messages_box group %>

      <div class="row">
        <div class="col">
          <%= bs_text_field form, :name_jp %>
        </div>
        <div class="col">
          <%= bs_text_field form, :name_en %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_select form, :parent_id, "Parent Group", groups_for_select,
                        {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_select form, :cost_center_id, "Cost Center", CostCenter.all.collect{|cc| ["#{cc.number}-#{cc.description}", cc.id]},
                        {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_text_area form, :notes %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <% if group.persisted? %>
        <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'DESTROY GROUP: Are you sure?' }, remote: true, class: "btn btn-danger mr-5" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
