<% root_groups.each do |root_group| %>
  <%= russian_doll_tree(root_group, date) do |group, date| %>
    <div class="branch-header">
      <div style="float:right;font-size: 9px">
        <%= link_to 'Up', up_group_path(group, redirect_to: groups_path), method: :put %> |
        <%= link_to 'Down', down_group_path(group, redirect_to: groups_path), method: :put %>
      </div>
      <%= link_to group.name_jp, group %> <%= group.name_en %>
      <span style="font-size: 11px;"><%= (dcc = group.derived_cost_center) && "#{dcc.number} - #{dcc.description}" %></span>
      <%= render partial: "groups/counts", locals: {hcg: group.self_and_descendents_count_people_by_super_grade_at(date)} %>
    </div>
    <% unless (job_statuses = group.job_statuses_sorted_by_grade_at(date)).size == 0 %>
      <div class="team-block">
        <%= render partial: "job_statuses/person_with_face", collection: job_statuses, as: :job_status,
                          locals:  {date: date} %>
      </div>
    <% end %>
  <% end %>
<% end %>
