<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= render :partial => "date/button" %>
  <%= link_to 'Edit', edit_group_path(group), remote: true,
                                              data: {toggle: "modal", target: "#detailsModal"},
                                              class: "btn btn-primary" %>
<% end %>

<h1><%= group.name_jp %> <%= group.name_en %></h1>

<p>
  <%= ([link_to("Top", groups_path)] + group.self_and_ancestors.map{ |g| link_to g.name_jp, g }).join(' > ').html_safe %>
</p>

<p>
  <strong>Global Code:</strong> <%= (dcc = group.derived_cost_center) && "#{dcc.number} - #{dcc.description}" %>
</p>

<p>
  <strong>Notes:</strong> (<%= markdown_syntax_link %>)
  <%= markdown_render group.notes %>
</p>
