<%= js_insert_content_into_id id: 'detailsModal',
                         content: (render partial: 'form', locals: {group: @group}),
                         textareas_to_adjust: ['group_notes'] %>
