<h1>Editing Group</h1>

<%= render 'form', group: @group %>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', groups_path %> | 
<%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'DESTROY GROUP: Are you sure?' } %><
