<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= render :partial => "date/button" %>
  <%= link_to "New Group", new_group_path, remote: true,
                                           data: {toggle: "modal", target: "#detailsModal"},
                                           class: "btn btn-primary" %>
<% end %>

<h1 class="clearfix">Org Chart for <%= display_for_date.to_s %></h1>

<%= render :partial => "org_chart_table", :locals => {:root_groups => @root_groups, :date => display_for_date} %>
