<div id="object-content">
  <%= render 'profile', group: @group %>
</div>

<hr>

<h3>Org Chart <%= display_for_date.to_s %></h3>
<%= render :partial => "org_chart_table", :locals => {root_groups: [@group], date: display_for_date} %>

<h3>Job Statuses (include historic)</h3>
Total: <%= @group.job_statuses.size %> people

<%= link_to "New Job Status", new_job_status_url(job_status:{group_id: @group.id}) %>
<table class="table table-sm">
  <thead class="thead-light">
    <th scope="col">Term</th>
    <th scope="col">Person</th>
    <th scope="col">Assigned to Group</th>
    <th scope="col">Title</th>
    <th scope="col">Reports to</th>
  </thead>

  <tbody>
    <%= render @group.job_statuses.order(started_at: :desc) %>
  </tbody>
</table>

<div>
  <h3>Email Addresses</h3>
  <h5>Current Direct</h5>
  <p class="user-select-all">
    <%= @group.job_statuses.current.map{|js| js.placeholder ? nil : js.person}.map{|p| p ? p.email : nil}.filter{|email| !email.blank?}.join('; ') %>
  </p>

  <h5>Current Direct + Descendant</h5>
  <p class="user-select-all">
    <%= JobStatus.current.where(group_id: @group.descendants.map{|g| g.id} + [@group.id]).map{|js| js.placeholder ? nil : js.person}.map{|p| p ? p.email : nil}.filter{|email| !email.blank?}.join('; ') %>
  </p>
</div>



