<table>
<% enrollments.unfinished.order(due_date: :desc).each do |enrollment| %>
  <tr>
    <td>
      予定 <%= enrollment.due_date %>
    </td>
    <td>
      <%= link_to "#{enrollment.training_program.name}", enrollment %>
    </td>
  </tr>
<% end %>
<% enrollments.finished.order(finished_date: :desc).each do |enrollment| %>
  <tr>
    <td>
      <span style="color:#BBB">完了済 <%= enrollment.finished_date %></span>
    </td>
    <td>
      <%= link_to "#{enrollment.training_program.name}", enrollment %>
    </td>
  </tr>
<% end %>
</table>
