<tr>
<td><%= link_to enrollment.due_date, enrollment %></td>
<td><%= enrollment.finished_date %></td>
<td><%= link_to enrollment.person.name_jp, enrollment.person %></td>
<td><%= link_to enrollment.training_program.name, enrollment.training_program %></td>
<td><%= enrollment.comment %></td>
</tr>
