<%= form_with(model: enrollment, local: true) do |form| %>
  <% if enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :person_id %>
  
  <h2><%= enrollment.person.name_jp %></h2>

  <div class="field">
    <%= form.label :training_program_id %>
    <%= form.select :training_program_id, TrainingProgram.all.collect{|tp| ["#{tp.training_category.name}-#{tp.name}", tp.id]} %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.text_field :due_date %>
  </div>

  <div class="field">
    <%= form.label :finished_date %>
    <%= form.text_field :finished_date %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
