<h1>Editing Enrollment</h1>

<%= render 'form', enrollment: @enrollment %>

<%= link_to 'Destroy', @enrollment, method: :delete, data: { confirm: 'DESTORY ENROLLMENT: Are you sure?' } %> | 
<%= link_to 'Show', @enrollment %> |
<%= link_to 'Back', enrollments_path %>
