<p id="notice"><%= notice %></p>

<h1>Enrollments</h1>

<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Finished date</th>
      <th>Person</th>
      <th>Training program</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @enrollments %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrollment', new_enrollment_path %>
