<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @enrollment.person_id %>
</p>

<p>
  <strong>Training program:</strong>
  <%= @enrollment.training_program_id %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @enrollment.due_date %>
</p>

<p>
  <strong>Finished date:</strong>
  <%= @enrollment.finished_date %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @enrollment.comment %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
