<% shade = cycle('odd', 'even') %>
<% ['J', 'E', 'C', 'S', 'Contract', 'Haken', 'not-Graded', 'Open'].each do |g| %>
  <tr class="<%= shade %>">
    <td><%= link_to cost_center.number, edit_cost_center_path(cost_center), {remote: true, data: {toggle:"modal", target:"#detailsModal"}} %></td>
    <td><%= cost_center.description %></td>
    <% if cost_center_headcount_by_group[cost_center] %>
      <%  text_class = (g == "not-Graded" && cost_center_headcount_by_group[cost_center][g] > 0) ? "text-danger" : "" %>
      <td class="<%= text_class %>"><%= g %></td>
      <td class="<%= text_class %>"><%= cost_center_headcount_by_group[cost_center][g] %></td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
