<%= bs_details_modal do %>
  <%= form_with(model: cost_center) do |form| %>
    <%= bs_modal_header title: "Edit Cost Center" %>
    <div class="modal-body" id="details-modal-body">
      <% if cost_center.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(cost_center.errors.count, "error") %> prohibited this cost center from being saved:</h2>

          <ul>
            <% cost_center.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :person_id %>

      <div>
        <% bs_scope form_label_width: 6 do %>
          <%= bs_text_field form, :number, "Cost Center番号" %>
          <%= bs_text_field form, :description, "Cost Center説明" %>
        <% end %>
      </div>

      <h3>Groups in this Cost Center</h3>
      <div style="background-color:#ECECEC;border: solid 1px gray">Groups in this Cost Center</div>
      <br>
      <% selected_groups = cost_center.direct_and_indirect_groups %>
      <div class="compact-tree">
        <% Group.roots.each do |root_group| %>
          <%= russian_doll_tree(root_group, Time.zone.today) do |group, date| %>
            <div class="branch-header <%= selected_groups.include?(group) ? "selected" : "" %>">
              <%= link_to group.name_jp, group %> <%= group.name_en %>
              <span style="font-size: 11px;"><%= (dcc = group.derived_cost_center) && "#{dcc.number} - #{dcc.description}" %></span>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="modal-footer">
      <% if cost_center.persisted? %>
        <%= link_to 'Destroy', cost_center, method: :delete, data: { confirm: 'DESTROY COST CENTER: Are you sure?' }, remote: true, class: "btn btn-danger" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
