<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= render :partial => "date/button" %>
  <%= link_to "New Cost Center", new_cost_center_path, remote: true,
                                           data: {toggle: "modal", target: "#detailsModal"},
                                           class: "btn btn-primary" %>
<% end %>

<h1 class="clearfix">Cost Centers</h1>

<div class="text-right">
  <%= link_to "Export as CSV", cost_centers_path(format: "csv") %>
</div>
<table class="table table-sm">
  <thead class="thead-light">
    <%= render partial: 'cost_centers/cost_centers_header' %>
  </thead>

  <tbody>
    <%= render @cost_centers %>
  </tbody>
</table>

<br>

<h3>Groups without Cost Centers assigned</h3>
<table class="table table-sm">
  <thead class="thead-light">
    <th scope="col">Group</th>
    <th scope="col">People</th>
  </thead>

  <tbody>
    <% cost_center_headcount_by_group[nil] && cost_center_headcount_by_group[nil].each do |g| %>
      <tr>
        <td>
          <%= link_to g.name_jp, edit_group_path(g) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
