<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @cost_center.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cost_center.description %>
</p>

<%= link_to 'Edit', edit_cost_center_path(@cost_center) %> |
<%= link_to 'Back', cost_centers_path %>
