<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#dateModal">As of Date: <%= display_for_date %></button>

<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" aria-labelledby="dateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with url: date_path, method: :patch do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="dateModalLabel">Change Display for Date</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form.date_select :on_date, {default: display_for_date}, {class: "form-control d-inline-block w-auto"} %>
          <% if display_for_date != today %>
            or
            <%= link_to "Reset date to Today", date_path("[on_date(1i)]" => today.year, "[on_date(2i)]" => today.month, "[on_date(3i)]" => today.day ), remote: true, method: :patch %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Change date", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
