/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$primary: cadetblue;
$danger: red;

@import "bootstrap/scss/bootstrap";

html {
	font-size: 14px;
}

#modal_box {
	z-index: 10;
	border: 2px solid #EEE;
	max-height: 90vh;
	width: 96%;
	position: fixed;
	left: 2%;
	top: 0px;
	background-color: #F8F8F8;
	overflow: auto;
	padding: 5px;
	box-sizing: border-box;
	animation: modal_box_slide_in 0.5s;
}

#modal_box form {
	background-color: transparent !important;
}

@keyframes modal_box_slide_in {
	0% {
		top: -90vh;
	}
	100% {
		top: 0px;
	}
}

.controls {
	text-align:right;
	background-color: red;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.close_box {
	display: block;
	box-sizing: border-box;
	position: absolute;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
	color: #FFF;
	background-color: #666;
	right: 0px;
	bottom: 0px;
	width: 30px;
	height: 30px;
	padding: 3px;
	border: solid 1px #FFF;
	text-align: center;
}
