
// Modal box transition customizations
// Making it move faster
body .modal.fade .modal-dialog {
  transition: transform 0.1s ease-out;
  transform: translate(0, -1000px);
}
body .modal.show .modal-dialog {
  transform: none;
}
body .fade {
  transition: opacity 0.1s linear;
}

.odd {
  background-color: #FFF;
}
.even {
  background-color: #EEE;
}
