// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.compact-tree {
	.tree {
		padding: 1px 0 1px 1px;
		margin: 1px 0;
	}
	.branch-header {
		padding:1px 0;
		font-size: inherit;
	}
}

.tree {
	padding: 5px 0 5px 5px;
	margin: 5px 0;
	border-left: 3px solid gray;
	border-top: 1px solid gray;
}

.branch-header {
	padding:5px 0;
	font-size: 16px;
}
.branch-header.selected {
	background-color: #ECECEC;
}

.team-block {
	background-color:#F8F8F8;
	padding: 5px;
}

.person-block {
	display: inline-block;
}

.person-block.group-leader {
	font-weight:bold;
}

.avatar-box {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 0 2px;
}

.avatar {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.tree-depth-0 {
	border-color: #CC99C9;
}
.tree-depth-1 {
	border-color: #9EC1CF;
	margin-left: 10px;
}
.tree-depth-2 {
	border-color: #9EE09E;
	margin-left: 10px;
}
.tree-depth-3 {
	border-color: #FDFD97;
	margin-left: 10px;
}
.tree-depth-4 {
	border-color: #FEB144;
	margin-left: 10px;
}
.tree-depth-5 {
	border-color: #FF6663;
	margin-left: 10px;
}
.tree-depth-6 {
	border-color: #CC99C9;
	margin-left: 10px;
}
.tree-depth-7 {
	border-color: #9EC1CF;
	margin-left: 10px;
}
.tree-depth-8 {
	border-color: #9EE09E;
	margin-left: 10px;
}
.tree-depth-9 {
	border-color: #FDFD97;
	margin-left: 10px;
}
.tree-depth-10 {
	border-color: #FEB144;
	margin-left: 10px;
}
