// Place all the styles related to the job_statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#job_statuses_index tr.prior-to-last-month * {
  font-style: italic !important;
  background-color: lightgray;
}
