// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#content table {
	width: 100%;
}

.image-cell {
	text-align:center;
}

#person_notes {
	width: 100%;
	min-height: 5em;

}

h3 {
	line-height: 1em;

}

.open, .open a, .open a:visited {
	color: #BBB;
}

.open img {
	opacity: 0.5;
}

.person-block.open {
	opacity: 0.5;
}

table label {
	display: inline;
	font-weight: bold;
}
