// Place all the styles related to the rafs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.unspecified {
	background-color: yellow;
}

.yet_to_join *, .yet_to_join:visited * {
	color: #BBB !important;
}