<%= form_with(model: training_program, local: true) do |form| %>
  <% if training_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_program.errors.count, "error") %> prohibited this training_program from being saved:</h2>

      <ul>
        <% training_program.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :training_category %>
    <%= form.select :training_category_id, TrainingCategory.all.collect{|tc| [tc.name, tc.id]}, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
