<h1>Editing Training Program</h1>

<%= render 'form', training_program: @training_program %>

<%= link_to 'Destroy', @training_program, method: :delete, data: { confirm: 'DESTROY TRAINING PROGRAM: Are you sure?' } %> |
<%= link_to 'Show', @training_program %> |
<%= link_to 'Back', training_programs_path %>
