<p id="notice"><%= notice %></p>

<h1>Training Programs</h1>

<%= link_to 'New Training Program', new_training_program_path %>
<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Url</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_programs.each do |training_program| %>
      <tr>
        <td><%= training_program.training_category.name %></td>
        <td><%= training_program.code %></td>
        <td><%= link_to training_program.name, training_program %></td>
        <td><%= number_to_currency training_program.price, locale: :ja %></td>
        <td><%= training_program.url %></td>
        <td><%= training_program.description %></td>
        <td><%= link_to 'Edit', edit_training_program_path(training_program) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

