<h1>Training Program <%= @training_program.code %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @training_program.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @training_program.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @training_program.price, locale: :ja %>
</p>

<p>
  <strong>Url:</strong>
  <%= @training_program.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @training_program.description %>
</p>

<%= link_to 'Edit', edit_training_program_path(@training_program) %> |
<%= link_to 'Back', training_programs_path %>

<h3>Enrollments</h3>
<table>
  <thead>
    <tr>
      <th>Due date</th>
      <th>Finished date</th>
      <th>Person</th>
      <th>Training program</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @training_program.enrollments %>
  </tbody>
</table>
