<%= bs_details_modal size: "modal-lg" do %>
  <%= form_with(model: job_status) do |form| %>
    <%= bs_modal_header title: "Edit Job Assignment" + (" for #{link_to job_status.person.name_jp, job_status.person}" if job_status.person).to_s %>
    <div class="modal-body" id="details-modal-body">
      <% if job_status.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(job_status.errors.count, "error") %> prohibited this job_status from being saved:</h2>

          <ul>
            <% job_status.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :person_id %>

      <div>
        <% bs_scope form_label_width: 6 do %>
          <% if !job_status.person %>
            <div class="text-right">
              <%= link_to "Add new person if high probability", new_person_url(job_status_id: job_status.id) %>
            </div>
          <% end %>
          <%= bs_checkbox form, :placeholder, "Is this an OPEN posiition?" %>
          <%= bs_text_field form, :started_at, "This position will start at (or is OPEN from)" %>
          <div class="text-right"><small><%= link_to("Group: " + job_status.group.name_jp, job_status.group) if job_status.group %></small></div>
          <%= bs_select form, :group_id, "The position is for the following Group", groups_for_select, include_blank: true %>
          <%= bs_checkbox form, :group_leader, "This position is a Group Leader" %>
          <%= bs_text_field form, :job_title_jp, "The title for this Job (JP) is" %>
          <%= bs_text_field form, :job_title_en, "The title for this Job (EN) is" %>
          <%= bs_select form, :reports_to_id, "This position reports to", Person.all.collect{|p| [p.name_jp, p.id]}, include_blank: true %>
          <div class="text-right"><small><%= link_to("RAF: " + job_status.raf.name, job_status.raf) if job_status.raf %></small></div>
          <%= bs_select form, :raf_id, "This position relateds to the following RAF", raf_select_options, include_blank: true %>
          <%= bs_text_area form, :notes %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <% if job_status.persisted? && job_status.person %>
        <%= link_to "Remove '#{job_status.person.name_jp}' from this Job Assignment", remove_person_job_status_path(job_status), method: :put, data: { confirm: "REMOVE #{job_status.person.name_jp} FROM JOB ASSIGNMENT: Are you sure?" }, remote: true, class: "btn btn-warning" %>
      <% end %>
      <% if job_status.persisted? %>
        <%= link_to 'Destroy', job_status, method: :delete, data: { confirm: 'DESTROY ASSIGNMENT: Are you sure?' }, remote: true, class: "btn btn-danger" %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
