<tr class="<%= job_status.placeholder ? 'open' : '' %> <%= job_status.started_at < today.months_ago(1).beginning_of_month ? 'prior-to-last-month' : '' %>">
  <td><%= link_to job_status.started_at, edit_job_status_path(job_status), {remote: true, data: {toggle:"modal", target:"#detailsModal"}} %>(<%= distance_of_time_in_words_to_now(job_status.started_at) %><%= job_status.started_at - Time.zone.today > 0 ? "後" : "前" %>) - <%= job_status.ended_at > Date.new(2100, 1, 1) ? "" : job_status.ended_at %>
    <%= link_to "RAF↗︎", job_status.raf if job_status.raf %>
  </td>
  <td>
    <%= job_status.person ? link_to(job_status.person.name_jp, job_status.person) : "-" %>
  </td>
  <td><%= job_status.previous&.group&.name_jp %> -> <%= link_to job_status.group.name_jp, job_status.group %></td>
  <td>
  	<%= job_status.group_leader ? "<strong>Group Leader</strong><br>".html_safe : "" %>
  	<%= job_status.job_title_jp %> <%= job_status.job_title_en %></td>
  <td><%= job_status.reports_to_id %></td>
</tr>
