<div class="person-block <%= job_status.group_leader ? "group-leader" : "" %> <%= job_status.placeholder ? 'open' : ''%>">
	<% if job_status.person %>
    <div class="avatar-box">
      <%= image_tag_for_person(job_status.person, class: "avatar") %>
    </div>
    [<%= job_status.person&.grade_at(date)&.name.to_s[0,2]  %>,<%= job_status.person.academic == 'Master' ? 'M' : '' %>]
    <%= link_to job_status.person.name_jp, job_status.person %>
  <% else %>
    <div class="avatar-box">
      <%= image_tag_for_no_photo(class: "avatar") %>
    </div>
    <%= link_to_job_status_in_org_chart(job_status) %>
  <% end %>
  <% if !job_status.job_title_jp.blank? %>
    <span style="font-size: 9px">(<%= job_status.job_title_jp %>)</span>
  <% end %>
</div>
