<p id="notice"><%= notice %></p>

<% bs_help_modal "Assignments Help" do %>
  <dl>
    <dt>Assignmentとは？</dt>
    <dd>
      AssignmentはPersonとGroupを繋ぐもので、ある人があるグループに属する状態を表します。
    </dd>
    <dt>新規Assignmentの作成</dt>
    <dd>
      AssignmentはからなずGroupもしくはPersonに紐づくため、GroupもしくはPersonの中から作成します。
      例えばあるPersonが新しいGroupに異動する時は、Personの画面から新規Assignmentを作ります。
      また新しく人を雇用するためのOPEN positionを作成する時は、Groupから新規Assignmentを作ります。
    </dd>
    <dt>AssignmentとRAFの関係</dt>
    <dd>
      これは結構難しい
    </dd>
  </dl>
<% end %>

<h1>Assignments</h1>
<% if params[:filter] %>
  Filter: <%= params[:filter] %>
<% end %><br>
<br>
<%= link_to 'all real', job_statuses_path %> |
<%= link_to 'placeholders', job_statuses_path(filter: :placeholders) %>
<br>
Total: <%= @job_statuses.size %> people
<br>

<table id="job_statuses_index" class="table table-sm table-striped">
  <thead class="thead-light">
    <tr>
      <th scope="col">Term</th>
      <th scope="col">Person</th>
      <th scope="col">Assigned to Group</th>
      <th scope="col">Title</th>
      <th scope="col">Reports to</th>
    </tr>
  </thead>

  <tbody>
    <%= render @job_statuses %>
  </tbody>
</table>

