<h1>New Assignment</h1>
<h2>Person: <%= @job_status.person&.name_jp %></h2>
<h2>Group: <%= @job_status.group.name_jp %></h3>

<%= render 'form', job_status: @job_status %>

<%= link_to 'Back', job_statuses_path %>
