<h2>Job Assignment</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <% if @job_status.person %>
    <%= link_to @job_status.person.name_jp, person_path(@job_status.person) %>
  <% else %>
    OPEN Position (Person not yet assigned)<br>
    <%= link_to "Add new person if high probability", new_person_url(job_status_id: @job_status.id) %>
  <% end %>
</p>

<p>
  <strong>Group:</strong>
  <%= @job_status.group.name_jp %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @job_status.started_at %>
</p>

<p>
  <strong>Job title jp:</strong>
  <%= @job_status.job_title_jp %>
</p>

<p>
  <strong>Job title en:</strong>
  <%= @job_status.job_title_en %>
</p>

<p>
  <strong>Reports to:</strong>
  <%= @job_status.reports_to_id %>
</p>

<p>
  <strong>RAF:</strong>
  <%= link_to @job_status.raf.name, @job_status.raf if @job_status.raf%>
</p>

<p>
  <strong>Notes:</strong>(<%= markdown_syntax_link %>)
  <%= markdown_render @job_status.notes %>
</p>

<%= link_to 'Edit', edit_job_status_path(@job_status) %> |
<%= link_to 'Back', job_statuses_path %>
