<%= bs_details_modal size: "none" do %>
  <%= form_with(model: raf, local: true) do |form| %>
    <%= bs_modal_header title: "Edit Raf" %>
    <div class="modal-body" id="details-modal-body">
      <%= error_messages_box raf %>

      <div class="row">
        <div class="col">
          <%= bs_text_field form, :number, "Number (optional)" %>
        </div>
        <div class="col">
          <%= bs_text_field form, :planning %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_text_field form, :name %>
        </div>
        <div class="col">
          <%= bs_text_field form, :count_requested %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= bs_text_field form, :approved_date %>
        </div>
        <div class="col">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= bs_text_area form, :comments %>
        </div>
        <div class="col">
          <%= form.label :new_attachments %>
          Add attachments
          <%= form.file_field :new_attachments, multiple: true %>
          <hr>
          <% unless raf.attachments.attached? %>
            No attachments yet.
          <% else %>
            <ul>
              <% raf.attachments.attachments.each do |a| %>
                <li><%= link_to a.filename.to_s, url_for(a) %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <% if raf.persisted? %>
        <%= link_to 'destroy', raf, method: :delete, data: { confirm: 'DESTROY RAF: Are you sure?' }, remote: true %>
      <% end %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
