<tr>
  <th scope="col">Approved Date</th>
  <th scope="col">Plan</th>
  <th scope="col">Name</th>
  <th scope="col">Comments</th>
  <th scope="col" style="min-width: 15em">Attachments</th>
  <th scope="col" style="width: 4ch">Cnt</th>
  <th scope="col" style="min-width: 15em">JobStatuses</th>
</tr>
