<tr>
  <td><%= raf.approved_date %></td>
  <td><%= raf.planning %></td>
  <td><%= link_to raf_number_and_name(raf), raf %></td>
  <td><%= raf.comments %></td>
  <td>
    <% raf.attachments.attachments.each do |a| %>
      <%= link_to a.filename.to_s, url_for(a) %>,
    <% end %>

  </td>
  <td class="<%= raf.job_statuses_unspecified? ? 'unspecified' : '' %>"><%= "#{raf.job_statuses.size}/#{raf.count_requested}" %></td>
  <td>
    <ol>
      <% raf.job_statuses.each do |js| %>
        <li><%= link_to_job_status(js) %></li>
      <% end %>
    </ol>
  </td>
</tr>
