<h1>Editing Raf</h1>

<%= render 'form', raf: @raf %>

<%= link_to 'Show', @raf %> |
<%= link_to 'Back', rafs_path %> |
<%= link_to 'Destroy', @raf, method: :delete, data: { confirm: 'DESTROY RAF: Are you sure?' } %>