<p id="notice"><%= notice %></p>

<h1>RAFs</h1>

<% content_for :controls do %>
  <%= link_to 'New Raf', new_raf_path, remote: true,
                                       data: {toggle: "modal", target: "#detailsModal"},
                                       class: "btn btn-primary" %>
<% end %>

<% bs_help_modal "RAF help" do %>
  <dl>
    <dt>About RAFs</dt>
    <dd>Details of ***</dd>
 </dl>
<% end %>

<h2>OPEN Placeholder Assignments that need to be connected to RAFs</h2>
<table class="table table-striped">
  <thead class=thead-light>
    <tr>
      <th>Starting at</th>
      <th>Title - Group</th>
  </thead>
  <tbody>
    <% JobStatus.placeholders.where(raf_id: nil).each do |js| %>
      <tr>
        <td><%= js.started_at %></td>
        <td><%= link_to "#{js.job_title_jp} #{js.group.name_jp}", edit_job_status_path(js),
                        remote: true, data: {toggle: "modal", target: "#detailsModal"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Unapproved RAFs</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <%= render partial: 'raf_table_headers' %>
  </thead>

  <tbody>
    <%= render @rafs.where(approved_date: nil).order(:planning, :number) %>
  </tbody>
</table>

<h2>Approved RAFs pending hiring</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <%= render partial: 'raf_table_headers' %>
  </thead>

  <tbody>
    <%= render @rafs.where.not(approved_date: nil).order(approved_date: :desc, number: :asc).filter{|raf| !raf.joining_completed?} %>
  </tbody>
</table>

<h2>Approved RAFs with hiring completed</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <%= render partial: 'raf_table_headers' %>
  </thead>

  <tbody>
    <%= render @rafs.where.not(approved_date: nil).order(approved_date: :desc, number: :asc).filter{|raf| raf.joining_completed?} %>
  </tbody>
</table>

<br>

