<p id="notice"><%= notice %></p>

<% content_for :controls do %>
  <%= link_to 'Edit', edit_raf_path(@raf), remote: true,
              data: {toggle: "modal", target: "#detailsModal"},
              class: "btn btn-primary" %>
<% end %>

<div id="object-content">
  <h1>RAF <%= raf_number_and_name @raf %></h1>
  <h3>Status: <%= @raf.status %></h3>

  <div class="row">
    <div class="col"><%= bs_attribute "Approved date:", @raf.approved_date %></div>
    <div class="col"><%= bs_attribute "Number:", @raf.number %></div>
  </div>
  <div class="row">
    <div class="col"><%= bs_attribute "Planning:", @raf.planning %></div>
    <div class="col"><%= bs_attribute "Name:", @raf.name %></div>
  </div>
  <div class="row">
    <div class="col"><%= bs_attribute "Headcount Requested:", @raf.count_requested %></div>
    <div class="col"><%= bs_attribute "Job Positions:", @raf.job_statuses.size %></div>
  </div>
  <div class="row">
    <div class="col"><%= bs_attribute "People Hired:", @raf.number_who_joined %></div>
    <div class="col"><%= bs_attribute "Comments:", @raf.comments %></div>
  </div>
  <div class="row">
    <div class="col">
      <strong>Attachments:</strong>(<%= markdown_syntax_link %>)
      <% unless @raf.attachments.attached? %>
        No attachments yet.
      <% else %>
        <ul>
          <% @raf.attachments.attachments.each do |a| %>
            <li><%= link_to a.filename.to_s, url_for(a) %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>

<h3>JobStatuses</h3>
<table>
  <thead>
    <tr>
      <th>Term</th>
      <th>Person</th>
      <th>Assigned to Group</th>
      <th>Title</th>
      <th>Reports to</th>
    </tr>
  </thead>

  <tbody>
  <%= render partial: "job_statuses/job_status", collection: @raf.job_statuses  %>

</tbody>
</table>
