<!DOCTYPE html>
<html>
  <head>
    <title>PeopleManager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">People Manager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= bs_nav_item "People", people_path %>
          <%= bs_nav_item "Groups", groups_path %>
          <%= bs_nav_item "Grades", grades_path %>
          <%= bs_nav_item "Assignments", job_statuses_path %>
          <%= bs_nav_item "Gradings", gradings_path %>
          <%= bs_nav_item "RAFs", rafs_path %>
          <%= bs_nav_item "Cost Centers", cost_centers_path %>
          <%= bs_nav_item "Training Programs", training_programs_path %>
          <%= bs_nav_item "Training Categories", training_categories_path %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <%= render partial: "layouts/details_modal" %>
    <div id="content">
      <!-- Old modal box -->
      <div id="modal_box" data-controller="modal-box" data-target="modal-box.box" style="display:none">
        <div id="modal_box_content">
        </div>
        <%= link_to "X", "#", data: {action:"click->modal-box#close"}, class: "close_box" %>
      </div>
      <!-- end  -->
      <div id="controls" class="float-right">
        <%= content_for :controls %><%= content_for :help %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
